@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$background-menu : #336ba6;
$font-color : #169b9b;
$background-color: #f1f1f1;
$font-size: 3rem;


$tipografia-general: 'Roboto', sans-serif;
$tipografia-titulo: 'Montserrat', sans-serif;