@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@700&display=swap');


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

//Background colo
$background-menu : #336ba6;
$background-color: #f1f1f1;

//Font Color
$font-color : #169b9b;
$color-titulo: #336ba6;

//Font Size
$font-size: 2vw;
$font-size-titulo: 4.8rem;
$font-h3:  1.8rem;
$font-size-texto: 1.5rem;
//Fonts
$font-general: 'Roboto', sans-serif;
$font-titulo: 'Montserrat';
$font-texto: 'Pragati Narrow', sans-serif;