@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$back-color : #336ba6;
$base-color : #169b9b;


$tipografia-general: 'Roboto', sans-serif;
$tipografia-titulo: 'Montserrat', sans-serif;