@import '../../variables/index.scss';
body{ 
  width: 100%;
  margin: 0;
  background: #bdbdc9;
  font-size: 16px;
}
#patron{  
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: $background-color;
  
  .select__patron{
    width: 50%;    
    border-radius: 2.5rem;
    margin-top: 1rem;
  }
}

#patron{
  
  
}